header{
  height: auto
}
main {
  color: #FFFFFF;
  font-weight: bold;
}
h1{
  text-align: center;
  color: #006666;
  font-size: 50px;
  height: -50px
}

h2{
  text-align: center;
  font-style: italic;
}

nav{
  text-align: center;
  width: 500px;
  height: 50px;
  margin: auto;
  margin-top: -20px;
  font-size: 27px;
}

article {
  font-family: arial;
  font-size: 14px;
  line-height: 25px;
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #006666;
}

p{
  text-indent: 30px;
}

footer{
  opacity: .5;
  text-align: center;
  width: 500px;
  height: 50px;
  margin: auto;
  padding: 20px;
  font-size: 18px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

a:link{ color: #FFFFFF }
a:visited{color: #012141}
a:hover{color: #99CCCC}
